@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .zofx-widgets>* *,
    .zofx-widgets>* ::before,
    .zofx-widgets>* ::after {
        box-sizing: border-box;
        /* 1 */
        border-width: 0;
        /* 2 */
        border-style: solid;
        /* 2 */
        border-color: theme('borderColor.DEFAULT', currentColor);
        /* 2 */
    }

    .zofx-widgets>* ::before,
    .zofx-widgets>* ::after {
        --tw-content: '';
    }

    .zofx-widgets>* {
        line-height: 1.5;
        /* 1 */
        -webkit-text-size-adjust: 100%;
        /* 2 */
        -moz-tab-size: 4;
        /* 3 */
        tab-size: 4;
        /* 3 */
        font-family: theme('fontFamily.sans', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
        /* 4 */
        font-feature-settings: theme('fontFamily.sans[1].fontFeatureSettings', normal);
        /* 5 */
        font-variation-settings: theme('fontFamily.sans[1].fontVariationSettings', normal);
        /* 6 */
    }

    .zofx-widgets>* {
        margin: 0;
        /* 1 */
        line-height: inherit;
        /* 2 */
    }

    .zofx-widgets>* hr {
        height: 0;
        /* 1 */
        color: inherit;
        /* 2 */
        border-top-width: 1px;
        /* 3 */
    }

    .zofx-widgets>* abbr:where([title]) {
        text-decoration: underline dotted;
    }

    .zofx-widgets>* h1,
    .zofx-widgets>* h2,
    .zofx-widgets>* h3,
    .zofx-widgets>* h4,
    .zofx-widgets>* h5,
    .zofx-widgets>* h6 {
        font-size: inherit;
        font-weight: inherit;
    }

    .zofx-widgets>* a {
        color: inherit;
        text-decoration: inherit;
    }

    .zofx-widgets>* b,
    .zofx-widgets>* strong {
        font-weight: bolder;
    }

    .zofx-widgets>* code,
    .zofx-widgets>* kbd,
    .zofx-widgets>* samp,
    .zofx-widgets>* pre {
        font-family: theme('fontFamily.mono', ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
        /* 1 */
        font-size: 1em;
        /* 2 */
    }

    .zofx-widgets>* small {
        font-size: 80%;
    }

    .zofx-widgets>* sub,
    .zofx-widgets>* sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
    }

    .zofx-widgets>* sub {
        bottom: -0.25em;
    }

    .zofx-widgets>* sup {
        top: -0.5em;
    }

    .zofx-widgets>* table {
        text-indent: 0;
        /* 1 */
        border-color: inherit;
        /* 2 */
        border-collapse: collapse;
        /* 3 */
    }

    .zofx-widgets>* button,
    .zofx-widgets>* input,
    .zofx-widgets>* optgroup,
    .zofx-widgets>* select,
    .zofx-widgets>* textarea {
        font-family: inherit;
        /* 1 */
        font-size: 100%;
        /* 1 */
        font-weight: inherit;
        /* 1 */
        line-height: inherit;
        /* 1 */
        color: inherit;
        /* 1 */
        margin: 0;
        /* 2 */
        padding: 0;
        /* 3 */
    }

    .zofx-widgets>* button,
    .zofx-widgets>* select {
        text-transform: none;
    }

    .zofx-widgets>* button,
    .zofx-widgets>* [type='button'],
    .zofx-widgets>* [type='reset'],
    .zofx-widgets>* [type='submit'] {
        -webkit-appearance: button;
        /* 1 */
        background-color: transparent;
        /* 2 */
        background-image: none;
        /* 2 */
    }

    .zofx-widgets>* :-moz-focusring {
        outline: auto;
    }

    .zofx-widgets>* :-moz-ui-invalid {
        box-shadow: none;
    }

    .zofx-widgets>* progress {
        vertical-align: baseline;
    }

    .zofx-widgets>* ::-webkit-inner-spin-button,
    .zofx-widgets>* ::-webkit-outer-spin-button {
        height: auto;
    }

    .zofx-widgets>* [type='search'] {
        -webkit-appearance: textfield;
        /* 1 */
        outline-offset: -2px;
        /* 2 */
    }

    .zofx-widgets>* ::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    .zofx-widgets>* ::-webkit-file-upload-button {
        -webkit-appearance: button;
        /* 1 */
        font: inherit;
        /* 2 */
    }

    .zofx-widgets>* summary {
        display: list-item;
    }

    .zofx-widgets>* blockquote,
    .zofx-widgets>* dl,
    .zofx-widgets>* dd,
    .zofx-widgets>* h1,
    .zofx-widgets>* h2,
    .zofx-widgets>* h3,
    .zofx-widgets>* h4,
    .zofx-widgets>* h5,
    .zofx-widgets>* h6,
    .zofx-widgets>* hr,
    .zofx-widgets>* figure,
    .zofx-widgets>* p,
    .zofx-widgets>* pre {
        margin: 0;
    }

    .zofx-widgets>* fieldset {
        margin: 0;
        padding: 0;
    }

    .zofx-widgets>* legend {
        padding: 0;
    }

    .zofx-widgets>* ol,
    .zofx-widgets>* ul,
    .zofx-widgets>* menu {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .zofx-widgets>* textarea {
        resize: vertical;
    }

    .zofx-widgets>* input::placeholder,
    .zofx-widgets>* textarea::placeholder {
        opacity: 1;
        /* 1 */
        color: theme('colors.gray.400', #9ca3af);
        /* 2 */
    }

    .zofx-widgets>* button,
    .zofx-widgets>* [role="button"] {
        cursor: pointer;
    }

    .zofx-widgets>* :disabled {
        cursor: default;
    }

    .zofx-widgets>* img,
    .zofx-widgets>* svg,
    .zofx-widgets>* video,
    .zofx-widgets>* canvas,
    .zofx-widgets>* audio,
    .zofx-widgets>* iframe,
    .zofx-widgets>* embed,
    .zofx-widgets>* object {
        display: block;
        /* 1 */
        vertical-align: middle;
        /* 2 */
    }

    .zofx-widgets>* img,
    .zofx-widgets>* video {
        max-width: 100%;
        height: auto;
    }

    .zofx-widgets>* [hidden] {
        display: none;
    }

}


.zofxlabel {
    color: var(--zofx-primary) !important;
}

.zofxdisabled {
    background-color: var(--zofx-hover) !important;
}

.zofxctalabel {
    color: var(--zofx-fill) !important;
}

.zofxcta {
    background-color: var(--zofx-primary) !important;
    --tw-text-opacity: 1 !important;
    color: var(--zofx-fill) !important;
}

.zofxcta:hover {
    background-color: var(--zofx-hover) !important;
}

.zofxcta:focus-visible {
    outline-color: var(--zofx-primary) !important;
}

@media (prefers-color-scheme: dark) {
    .zofxlabel {
        color: var(--zofx-primary-dark) !important;
    }

    .zofxcta {
        background-color: var(--zofx-primary-dark) !important;
        color: var(--zofx-fill-dark) !important;
    }

    .zofxctalabel {
        color: var(--zofx-fill-dark) !important;
    }

    .zofxdisabled {
        background-color: var(--zofx-hover-dark) !important;
    }
    
    .zofxcta:hover {
        background-color: var(--zofx-hover-dark) !important;
    }
    
    .zofxcta:focus-visible {
        outline-color: var(--zofx-primary-dark) !important;
    }
}